<a href="https://colab.research.google.com/github/praveensunny2/test/blob/main/Day01_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Week-I Learnings**

## Basics of Python [ *Day01-02* ]



*   Python was developed in the late 1980's by Guido van Rossum
*   Python is a high-level, interpreted, interactive and object-oriented language
*    elegant  syntax  that  enables  writing  very  easy  to  readprograms
*  Comes with a large standard library support
*  All basic data types are available:  numbers (
oating point, complex,and unlimited-length integers), strings.Âˆ
*  Higher level containers such as lists, dictionaries and sets are part ofthe core language 
*  Python supports object-oriented programming with classes and mul-tiple inheritance.
*  Modules and packages are the mechanisms to design, build, and dis-tribute applications and libraries.
*  Data  types  are  strongly  and  dynamically  typed.  
*  Provides advanced programming features such as generators and listcomprehensions.

**To check the version of python**

In [1]:
!python --version

Python 3.7.10

**This is my First Code**

In [2]:
print("My first python code")

My first python code

#**Building blocks of Python Program**
* Functions
* Variables
* Expressions
* Statements
* Block
* Comments

In [3]:
num = 7
num1 = 10.5
name = "Govada Praveen"
marks = [10, 20, 35]

#**Naming Rules in Python**

* Must begin with a alphabet(a - z, A - Z) or underscore().
* Other characters can be alphabets, digits or underscore().
* Python is case sensitive; uppercase and lower case alphabets are treated as distinct

In [4]:
add = num + num1
sub = num1 - num
print(type(add))
mul = num * num1
print(mul)
div = 11 / 2
print(div)
int_div = 11 // 2
print(int_div)
mod = 11 % 2
print(mod)

<class 'float'>
73.5
5.5
5
1

In [5]:
result = div > int_div
print("hey")
type(result)

hey

bool

In [6]:
type(num1)

float

In [7]:
type(name)

str

In [8]:
type(marks)

list

#**if...else...**

In [9]:
age = 10
if age >= 18:
  print("can vote")
else:
  print("wait for your turn")

wait for your turn

#Find the grade of a student based on a marks.
#**using if...elif and else**

In [10]:
marks  =  75
if marks >= 80:
  print(" Grade  A")
elif marks >=  60:
  print( " Grade  B" )
elif marks >= 40:
  print( " Grade  C" )
else:
  print( " F a i l e d " )

 Grade  B

#**while**

In [11]:
num = 1
while num < 11:
  if num % 2 == 0:
    print(num)
  else:
    print("you are odd")
  num += 1
  
print("outside the loop")

you are odd
2
you are odd
4
you are odd
6
you are odd
8
you are odd
10
outside the loop

In [12]:
num = 10
while num < 100:
  print(num, end = " ")
  num += 1

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

#**Functions**

In [13]:
def is_even(n):
  return n % 2 == 0

num = 1
while num < 10:
  if is_even(num):
    print("even")
  num += 1

even
even
even
even

In [14]:
START = 1
LIMIT = 100
sumEvenNums = 0
for num in range(START, LIMIT):
  if is_even(num):
    sumEvenNums += num
print(sumEvenNums, end = " ")

2450

**Euler 2**
Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [15]:
LIMIT = 4000000
a, b = 0, 1
result = 0
while a < LIMIT:
  if is_even(a):
    result += a
  a, b = b, a + b

print(result)

4613732

In [16]:
def fib(n):
    a, b = 0, 1
    fibs = []
    while a < n:
        fibs.append(a)
        a, b = b, a+b
    return fibs

print(fib(4000000))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578]

#Sequence Data Type - **STRING**

**Accessing Characters In String** and  **Negative indices**

We  can  access  a  character  from  the  string  by  specifying  the  index  of  thecharacter.  Index starts from '0' indicates the beginning of the string andworking their way from -1 at the end

We can access the subsets of a string using slice operator ([:])  with indexesstarting at 0 in the beginning of the string and working their way from -1at the end

python gives a convenientshorthand:  -1 is the index of the last element, -2 is the index of the last butone and so on...

In [17]:
college = "osmania university college of engineering hyderabad"
college[0]
college[1]
college[-1]
college[0:10:2]

'omnau'

In [18]:

a, b = 10, 20
a, b = b, a

In [19]:
a = 20
b = 10
id(a)

93855799213152

In [20]:
id(b)

93855799212832

In [21]:
id(10)

93855799212832